/*------------------------------------*\
    $VARS
\*------------------------------------*/
/**
 * Set up project-specific variables here which are then used throughout your
 * build. These variables are automatically picked up by inuit.css so you should
 * never need to modify any framework code.
 */


/**
 * Debug mode will visually highlight any potential markup/accessibility quirks
 * in the browser. Set to `true` or `false`.
 */
$debug-mode:        false;


/**
 * Do you want all elements to adopt `box-sizing:border-box;` as per
 * paulirish.com/2012/box-sizing-border-box-ftw ?
 */
$global-border-box: true;


/**
 * Base stuff
 */
$base-font-size:    16px!default;
$base-line-height:  24px!default;


/**
 * How big would you like round corners to be by default?
 */
$brand-round:        4px!default;


/**
 * Responsiveness?
 * Tell inuit.css when breakpoints start, in pixels.
 */
$responsive:        true!default;
$lap-start:         481px!default;
$desk-start:        1024px!default;


$break-mobile: 320px;
$break-tablet: 768px;
$break-desktop: 990px;
$break-bigscreen: 1300px;

/**
 * Font-sizes (in pixels). Refer to relevant sections for their implementations.
 */
$giga-size:         96px!default;
$mega-size:         72px!default;
$kilo-size:         48px!default;

$h1-size:           32px!default; // .alpha
$h2-size:           28px!default; // .beta
$h3-size:           26px!default; // .gamma
$h4-size:           18px!default; // .delta
$h5-size:           16px!default; // .epsilon
$h6-size:           14px!default; // .zeta

$milli-size:        14px!default;
$micro-size:        12px!default;


$big-line-height:  32px!default;
$mid-line-height:  24px!default;
$less-line-height:  20px!default;
$lowest-line-height:  16px!default;


$ipad-adjustment:        3;


/**
 * Brand stuff
 */
$brand-color:       #4a8ec2!default;
$brand-face:        "adelle-sans", sans-serif!default;

/**
 * Palette
 */

$barjeel-blue: #66BBDD; 
$barjeel-red: #FF3300;
$barjeel-grey: #999999;

$barjeel-link-blue: #3388AA;
$barjeel-text-grey: #555555;


$barjeel-hover-opacity: 0.7;



/**
 * Direction ltr / rtl
 */

$dir: left !default;
$opdir: right !default;


/**
 * To create an IE8 sheet - http://jakearchibald.github.com/sass-ie/
 */

$old-ie: false !default;

/**
 * inuit.css will work these next ones out for you.
 *
 * Assign our `$base-line-height` to a new spacing var for more transparency.
 */
$base-spacing-unit: $base-line-height!default;
$half-spacing-unit: $base-spacing-unit / 2!default;
$quarter-spacing-unit: $base-spacing-unit / 4!default;
$line-height-ratio: $base-line-height / $base-font-size;
