@charset "UTF-8";
/*------------------------------------*\
    BARJEEL.CSS
\*------------------------------------*/

/**
 * Compass imports
 */

@import "compass/reset";

/**
 * Inuit Setup
 */
@import "vars";
@import "inuit/inuit";


/**
 * Barjeel imports
 */

@import "grid/gridset.scss";
@import "templates/artwork-category.scss";
@import "templates/header.scss";
@import "templates/images.scss";
@import "templates/isotope.scss";
@import "templates/links.scss";
@import "templates/lists.scss";
@import "templates/menu.scss";
@import "templates/misc.scss";
@import "templates/pagination.scss";
@import "templates/typography.scss";


/**
 * Direction ltr / rtl
 */

$dir: left !default;
$opdir: right !default;


/**
 * Fonts
 */

body {
    font-family: Constantia,"Lucida Bright",Lucidabright,"Lucida Serif",Lucida,"DejaVu Serif","Bitstream Vera Serif","Liberation Serif",Georgia,serif;
}

