@charset "UTF-8";
/*------------------------------------*\
    BARJEEL.CSS
\*------------------------------------*/

/**
 * Compass imports
 */

@import "compass/reset";
@import "compass/css3";

/**
 * Inuit Setup
 */
@import "vars";
/**
 * Generic utility styles etc.
 */
@import "inuit/generic/mixins";
@import "inuit/generic/normalize";
@import "inuit/generic/reset";
@import "inuit/generic/clearfix";
@import "inuit/generic/shared";

/**
 * Base styles; unclassed HTML elements etc.
 */

@import "inuit/base/main";
@import "inuit/base/headings";
@import "inuit/base/paragraphs";
@import "inuit/base/smallprint";
@import "inuit/base/quotes";
@import "inuit/base/code";
@import "inuit/base/links";
@import "inuit/base/images";
@import "inuit/base/lists";
@import "inuit/base/tables";
@import "inuit/base/forms";

@import "inuit/objects/nav";
@import "inuit/objects/pagination";
@import "inuit/objects/media";
@import "inuit/objects/buttons";

/**
 * Barjeel imports
 */

@import "templates/mixins.scss";
@import "grid/gridset.scss";
@import "templates/artist.scss";
@import "templates/artwork-category.scss";
@import "templates/artwork-single.scss";
@import "templates/buttons.scss";
@import "templates/contact.scss";
@import "templates/education-page.scss";
@import "templates/exhibition-category.scss";
@import "templates/exhibition-single.scss";
@import "templates/forms.scss";
@import "templates/footer.scss";
@import "templates/header.scss";
@import "templates/homepage.scss";
@import "templates/images.scss";
@import "templates/isotope.scss";
@import "templates/links.scss";
@import "templates/lists.scss";
@import "templates/menu.scss";
@import "templates/misc.scss";
@import "templates/news-category.scss";
@import "templates/news-single.scss";
@import "templates/navigation.scss";
@import "templates/page.scss";
@import "templates/pagination.scss";
@import "templates/royalslider.scss";
@import "templates/select-box.scss";
@import "templates/typography.scss";
@import "templates/rs-default-inverted.scss";

/**
 * Fonts
 */

body {
  background-image: url(../images/background.jpg);
  background-repeat: repeat;
  color: $barjeel-text-grey;
  font-family: "adelle-sans",sans-serif;
  font-style: normal;
  font-weight: 400;

}


/**
 * Main block
 */

#page {
  	margin: 0 auto;
		width: 90%;
		float: none;
		@extend .cf;
}

#main {
  @include gs-span(da, 2, 5);
  padding-top: $base-spacing-unit * 2;
  padding-bottom: $base-spacing-unit * 2;

  @include respond-to(tablet) {
    padding-#{$dir}: $base-spacing-unit;
  }

  @include respond-to(mobile) {
    clear:both;
    @include gs-span(m, all);
     padding-top: 0;
  }
}


