@charset "UTF-8";
/*------------------------------------*\
    BARJEEL.CSS
\*------------------------------------*/

/**
 * Compass imports
 */

@import "compass/reset";
@import "compass/css3";

/**
 * Inuit Setup
 */
@import "vars";
@import "inuit/inuit";


/**
 * Barjeel imports
 */

@import "templates/mixins.scss";
@import "grid/gridset.scss";
@import "templates/artwork-category.scss";
@import "templates/footer.scss";
@import "templates/header.scss";
@import "templates/homepage.scss";
@import "templates/images.scss";
@import "templates/isotope.scss";
@import "templates/links.scss";
@import "templates/lists.scss";
@import "templates/menu.scss";
@import "templates/misc.scss";
@import "templates/pagination.scss";
@import "templates/typography.scss";


/**
 * Direction ltr / rtl
 */

$dir: left !default;
$opdir: right !default;



/**
 * Fonts
 */

body {
    font-family: Constantia,"Lucida Bright",Lucidabright,"Lucida Serif",Lucida,"DejaVu Serif","Bitstream Vera Serif","Liberation Serif",Georgia,serif;
	background-image: url(../images/background.jpg);
	background-repeat: repeat;
}

/**
 * Main block
 */

#page {
  		margin: 0 auto;
		width: 90%;
		float: none;
}

#main {
  @include gs-span(da, 2, 5);
}

