/*------------------------------------*\
    $Artist
\*------------------------------------*/

.royalSlider {
  width: 100% !important;
  height: 400px !important;
}

.rsContent {text-align: center !important; }


.artist-text {
	padding-top: $base-spacing-unit;
	padding-bottom: $base-spacing-unit;
}


.artist-detail {
	@include gs-pad(da, padinfull);
}


