/*------------------------------------*\
    $Artwork category
\*------------------------------------*/
	
	.page-header {
		@extend .cf;
		padding-bottom: $base-spacing-unit * 2;
	}

	.collection-meta {	
		@include gs-span(da, 2, 5, (2, 5));
		padding-bottom: $half-spacing-unit;
	}

	.collection-details {	
		@include gs-span(da, 5, 5, (2, 5));
		padding-bottom: $half-spacing-unit;

		  @include respond-to(mobile) { 
      @include gs-span(m, all);
      clear: both;
      text-align: center;
    	} 

	}

	.sort-collection {	
		@include gs-span(da, 3, 4, (2, 5));
		text-align:$opdir;


		  @include respond-to(mobile) { 
      @include gs-span(m, all);
      clear: both;
      text-align: center;
    	} 
	}

	.filter-collection {		
			display: inline;
		}

	.filter-collection > li {
		margin-bottom:0;

		
	}

	.filter-title {
		float: $dir;

		  @include respond-to(mobile) { 
		  	float: none;
      text-align: center;
    	} 	
	}


	.sort-title {
		float:$dir;
	}


	.filter-sort-menu {
		@include gs-span(da, 2, 3, (2, 5));
		padding-bottom: $quarter-spacing-unit;

		  @include respond-to(mobile) { 
      @include gs-span(m, all);
      clear: both;
      text-align: center;
    	} 
	}

	.collection-details h2 {	
		line-height: 6px;
	}

	.top-menu {
		display: inline-block;
		margin-bottom: 0;
		padding-#{$opdir}: $quarter-spacing-unit;
	}


	.top-menu > li:after  {
 		content: "/";
 		color: $barjeel-grey;
 		padding-left: $quarter-spacing-unit;
 		padding-right: $quarter-spacing-unit;
 	} 

	.top-menu > li:last-child:after {
 		display: none;
 	} 

	#sort {


		@include gs-span(da, 2, 4, (2, 5));
		display: none;
		clear:left;

		@include respond-to(mobile) { 
      @include gs-span(m, all);
      
    	} 


	}
	
	.box-ms {
		padding-right: #{2*gs-gutter(da) + '%'};
		width: 211px; 

		@include respond-to(tablet) { width: 190px; }

		 @include respond-to(mobile) { width: 175px; }
	}



.vignette { 
	 border-radius: 50%;
    width:172px;
    height: 172px;
 
    @include transition-property(box-shadow);
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-in-out);  

      max-width: 100%;
    /* Part 1: Set a maxium relative to the parent */
  
    width: auto\9;
    /* IE7-8 need help adjusting responsive images */
  
    height: auto;
    /* Part 2: Scale the height according to the width, otherwise you get stretching */
  
}
	
/* For the circle rollovers  */

.vignette:hover { 
  @include box-shadow (rgba($barjeel-blue, $barjeel-hover-opacity) 0 0 0px $half-spacing-unit inset);
} 

	img.attachment-cropped-thumb {
  	z-index: -1;
 	 position: relative;
} 

	.browse {
		@include gs-span(da, 5, 5, (2, 5));
		@extend .cf;

		  @include respond-to(mobile) { 
      @include gs-span(m, all);
      clear: both;
      text-align: center;
    	} 
	}	


	.artwork-title {
		@extend .bold;
		@extend .small;
		padding-top: $half-spacing-unit;
		margin: 0;

	}

	.artist-name {
		padding-top: 0;
		@extend .artwork-title;
	}

	.artwork-meta {
		@extend .micro;
		@extend .nav;
		
	}

	.artwork-meta > li {
		padding: 0;
		margin: 0;
		text-transform: uppercase;
	}
 		
 	.artwork-meta > li:after {
 		content: " / ";
 	} 	
	
	.artwork-meta > li:last-child:after {
 		display: none;
 	} 	

 	/* Makes the "see more" blue  */

 	.menu-item-772 a, .menu-item-775 a {
 		color: $barjeel-blue; text-decoration: none; @include transition(color, 0.5s, ease-out);
 	}

 	.menu-item-772 a:hover, .menu-item-775 a:hover {
 		color: $barjeel-link-blue !important; text-decoration: none;
 	} 

 	#menu-by-artist > li, #menu-by-country > li,  #menu-by-medium > li {
 		margin-bottom: $quarter-spacing-unit;
 	}

 	.browse-title {
		@extend .bold;
		@extend .small;
		padding-bottom: $base-spacing-unit;
		margin: 0;
		color: $barjeel-blue;
		text-transform: uppercase;
	}

	.list-title {
		@extend .bold;
		@extend .small;
		padding-bottom: $half-spacing-unit;
		margin: 0;
		color: $barjeel-grey;
	}

	.video-thumb  { 
	   display: block;
	   background: url(../images/icon-video.png) no-repeat;
	   z-index:200; 

	}

	

