/*------------------------------------*\
  $Artwork category
\*------------------------------------*/

.page-header {
  @extend .cf;
  padding-bottom: $base-spacing-unit * 2;
}

.collection-non-arab-art {
  @include gs-span(da, 2, 4, (2, 5));

  @include respond-to(mobile) {
    @include gs-span(m, all);
    clear: both;
    text-align: center;
  }
}

.collection-meta {
  @include gs-span(da, 2, 5, (2, 5));
  padding-bottom: $half-spacing-unit;
}

.collection-meta-non-arab {
  padding-bottom: $half-spacing-unit;
}

.collection-details {
  @include gs-span(da, 5, 5, (2, 5));
  padding-bottom: $half-spacing-unit;

  @include respond-to(mobile) {
    @include gs-span(m, all);
    clear: both;
    text-align: center;
  }
}

.sort-collection {
	@include gs-span(da, 3, 4, (2, 5));
	text-align:$opdir;

	@include respond-to(mobile) {
    @include gs-span(m, all);
    clear: both;
    text-align: center;
  }
}

.sort-collection-non-arab {
  @include gs-span(da, 3, 4, (2, 4));
  text-align:$opdir;
  clear:both;
  padding-bottom: $base-spacing-unit;

    @include respond-to(mobile) {
    @include gs-span(m, all);
    clear: both;
    text-align: center;
    }
}

.filter-collection {
		display: inline;
	}

.filter-collection > li {
	margin-bottom:0;

}

.filter-title {
	float: $dir;

	  @include respond-to(mobile) {
	  	float: none;
    text-align: center;
  	}
}


.sort-title {
	float:$dir;
}


.filter-sort-menu {
	@include gs-span(da, 2, 3, (2, 5));
	padding-bottom: $quarter-spacing-unit;

	  @include respond-to(mobile) {
    @include gs-span(m, all);
    display: none;
  	}
}

.collection-details h2 {
	line-height: 6px;
}

.top-menu-sort {
	display: inline-block;
	margin-bottom: 0;
	padding-#{$opdir}: $quarter-spacing-unit;
}

.top-menu {
	display: block;
	margin-bottom: 0;
	padding-#{$opdir}: $quarter-spacing-unit;
	clear: both;
}

.top-menu > li:after  {
		content: "/";
		color: $barjeel-grey;
		padding-left: $quarter-spacing-unit;
		padding-right: $quarter-spacing-unit;
	}

.top-menu > li:last-child:after {
		display: none;
	}



.artwork-list {
  clear: left;
}

.category-non-arab-art {
  padding-bottom: 2*$base-spacing-unit;
}

.thumbnail-image-non-arab {
  background: white;
}

.browse {
	@include gs-span(da, 5, 5, (2, 5));
	@extend .cf;

	  @include respond-to(mobile) {
    @include gs-span(m, all);
    clear: both;
    text-align: center;
  	}
}

.artwork-title {
	@extend .bold;
	@extend .small;
	padding-top: $half-spacing-unit;
	margin: 0;
}

.artist-name {
	padding-top: 0;
	@extend .artwork-title;
}

.artwork-meta {
	@extend .micro;
	@extend .nav;
}

.artwork-meta > li {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

	.artwork-meta > li:after {
		content: " / ";
	}

.artwork-meta > li:last-child:after {
		display: none;
	}

	/* Makes the "see more" blue  */

	.menu-item-772 a, .menu-item-775 a {
		color: $barjeel-blue; text-decoration: none; @include transition(color, 0.5s, ease-out);
	}

	.menu-item-772 a:hover, .menu-item-775 a:hover {
		color: $barjeel-link-blue !important; text-decoration: none;
	}

	#menu-by-artist > li, #menu-by-country > li,  #menu-by-medium > li {
		margin-bottom: $quarter-spacing-unit;
	}

.browse-title {
	@extend .bold;
	@extend .small;
	padding-bottom: $base-spacing-unit;
	margin: 0;
	color: $barjeel-blue;
	text-transform: uppercase;
}

.list-title {
	@extend .bold;
	@extend .small;
	padding-bottom: $half-spacing-unit;
	margin: 0;
	color: $barjeel-grey;
}

.video-thumb  {
 display: block;
 background: url(../images/icon-video.png) no-repeat;
 z-index:200;
}


#sort {

@include gs-span(da, 2, 4, (2, 5));
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;

@include respond-to(mobile) {
  @include gs-span(m, all);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
}

#sortArtwork {

@include gs-span(da, 2, 5, (2, 5));
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;

@include respond-to(mobile) {
    @include gs-span(m, all);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.box-ms {
  @include respond-to(mobile) {
    margin-right: 5%;
    width: 8rem;
  }

  @include respond-to(tablet) {
    margin-right: 2.5%;
    width: 11rem;
  }

  @include respond-to(desktop) {
    margin-right: 1%;
    width: 12rem;
  }

  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  margin-right: 1%;
  width: 11rem;
}

/* For the circle rollovers  */

.vignette img {
  @include transition-property(border);
  @include transition-duration(0.2s);
  @include transition-timing-function(ease-in-out);
}

.vignette img:hover {
  border: $half-spacing-unit, solid rgba($barjeel-blue, $barjeel-hover-opacity);
}

