/*------------------------------------*\
    $Artwork category
\*------------------------------------*/

	#sort {width: 700px; display: none;}
	
	.box-ms {padding-right:1em; padding-bottom:1em;}

	#sortartist {width: 700px;}

	.box-ms-artist {padding-right:1em; padding-bottom:1em;}

	.hover { border: 10px solid #428E8D; z-index:2;}

