/*------------------------------------*\
    $Artwork single
\*------------------------------------*/

	
	.featured-image {
		background: lighten($barjeel-grey, 20%);
	}

	.videoWrapperimage {
		@extend .videoWrapper;
		margin-bottom: 0 !important;
	}

	.entry-title {
		@extend .bold;
		@extend .beta;
		padding-top: $quarter-spacing-unit;
		padding-bottom: $quarter-spacing-unit;
		margin: 0;
		color: $barjeel-grey;
		line-height: $mid-line-height;
	
	}


	h1.entry-title, ul.entry-meta, h2.entry-title, h1.main-title  {
		display: inline-block;
    	vertical-align: bottom;
    }

	.entry-meta {
		@extend .epsilon;
		@extend .nav;
		margin-bottom: 0;
		padding-bottom: 2px;
		color: $barjeel-grey;
		
	}

	.title-area {padding-top: $half-spacing-unit;}

	.entry-meta > li {
		padding: 0;
		margin: 0;
		
	}

	.entry-meta > li:first-child:before, .entry-meta > li:after  {
 		content: "•";
 		padding-left: $quarter-spacing-unit;
 		padding-right: $quarter-spacing-unit;
 	} 
 	

 	.meta-exhibition:after {
 		content: "" !important;
 		padding-#{$opdir}: 0 !important;
 	} 	
	
	
	.entry-meta > li:last-child:after {
 		content: "";
 	} 	

 	.artist-area {padding-bottom: $base-spacing-unit;}

 	.related-title {
		@extend .light;
		@extend .epsilon;
		padding-top: $half-spacing-unit;
		padding-bottom: $half-spacing-unit;
		margin: 0;
		color: $barjeel-grey;
	}

	#sort-entry {
		@include gs-span(da, 2, 5, (2, 5));
		display: none;
	}

	.next-previous {
		font-size: $micro-size;
		text-align: center;
	}

	nav.next-previous ul li {
    	margin-#{$opdir}: $half-spacing-unit;
    	margin-bottom: $quarter-spacing-unit;

	}

	nav.next-previous ul li.previous {
		float: $dir;
	}

	nav.next-previous ul li.next {
		float: $opdir;
		text-align: $opdir;
		margin-#{$opdir}: 0;
	}

	.random {
		@extend .blue-back;
		@extent .center;
		
	}
	