/*------------------------------------*\
    $Artist
\*------------------------------------*/

.royalSlider {
  width: 100% !important;
  height: 400px !important;
}

.rsContent {text-align: center !important; }


.artist-title {
	@extend .main-title;
	margin-bottom: $quarter-spacing-unit !important;
}

.artist-text {
	padding-top: $half-spacing-unit*3;
	padding-bottom: $base-spacing-unit;
}


.artist-detail {
	@include gs-pad(da, padinfull);
	
}


