/*------------------------------------*\
    $Artist
\*------------------------------------*/

.royalSlider {
  width: 100% !important;
  height: 400px !important;

   @include respond-to(mobile) {
      height: 300px !important;
    }

}

.entry-meta-artist {
	@extend .entry-meta;
	padding-bottom: 6px !important;
}

.rsContent {text-align: center !important; }

.slideshow-video-thumb {
  height: 400px !important;
}

.artist-title {
	@extend .main-title;
	line-height: $mid-line-height !important;
	margin-bottom: $quarter-spacing-unit !important;
}

.artist-text {
	padding-bottom: $base-spacing-unit;
}

.artist-list ul li:after{
	display: none;
}

.artist-header {
  @include gs-pad(da, padinfull);
}

.artist-detail {
	@include gs-pad(da, padinfull);
}

.video-thumb-slider  {
  display: block;
  background: url(../images/icon-video-square.png) no-repeat;
  z-index:200;
  height: 30px;
}
