/*------------------------------------*\
    $Contributor
\*------------------------------------*/

.contributor-outer {
  @include gs-span(da, 2, 4, (2, 5));
  @extend .cf;
  @include respond-to(mobile) {
    @include gs-pad (m, padinfull);
    @include gs-span(m, all);
  }
}

.contributor-details {
  @include gs-span(da, 3, 4, (2, 5));
  @extend .cf;
  padding: $base-spacing-unit;
  padding-bottom: 0;
  @include respond-to(mobile) {
    @include gs-pad (m, padinfull);
    @include gs-span(m, all);
  }
}


.contributor-left {
  @include gs-span(da, 2, 3, (2, 5));
   @include respond-to(mobile) {
    @include gs-pad (m, padinfull);
    @include gs-span(m, all);
  }
}

.contributor-right {
  @include gs-span(da, 4, 5, (2, 5));
   @include respond-to(mobile) {
    @include gs-pad (m, padinfull);
    @include gs-span(m, all);
  }
}

.staff-border {
  border: $quarter-spacing-unit, solid $barjeel-grey;
  border-radius: 50%;
}

.box-ms-contributor {
  @include respond-to(mobile) {
    margin-right: 5%;
    width: 8rem;
  }

  @include respond-to(tablet) {
    margin-right: 2.5%;
    width: 11rem;
  }

  @include respond-to(desktop) {
    margin-right: 3%;
    width: 12rem;
  }

  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  margin-right: 3%;
  width: 11rem;
}
