/*------------------------------------*\
    $EducationPage
\*------------------------------------*/

	.education-main-text {	
		padding-top: $base-spacing-unit;	
		padding-bottom: $base-spacing-unit;
	}	


.aside-right {	
		padding-bottom: $base-spacing-unit;	
	}	