/*------------------------------------*\
    $Exhibition single
\*------------------------------------*/

.exhibition-main {
  @include gs-span(da, 2, 4, (2, 5));
  clear:both;

    @include respond-to(mobile) { 
    @include gs-span(m, all);
    }

}

.exhibition-text {
  @include gs-pad (da, padinfull);

   @include respond-to(mobile) { 
     @include gs-pad (m, padinfull);
    }

}

.catalogue {
  float: $dir;
  padding-#{$opdir}: $base-spacing-unit;
  padding-top: $quarter-spacing-unit;
}

.catalogue-caption {
  @extend .micro;
  @extend .uppercase;
  padding-top: $quarter-spacing-unit;
}


.exhibition-slideshow {
 	padding-bottom: $base-spacing-unit;	
 	background: white;

  @include respond-to(mobile) { 
    @include gs-span(m, all);
    }
}

.exhibition-title { 
  @extend .main-title;
  padding-top: $base-spacing-unit * 2;

  @include respond-to(mobile) { 
     padding-top: $half-spacing-unit;
     text-align: center;
    }
}

.exhibition-main-text { 
  padding-bottom: $base-spacing-unit;
}

.rsDefaultInv, .rsDefaultInv .rsOverflow, .rsDefaultInv .rsSlide, .rsDefaultInv .rsVideoFrameHolder, .rsDefaultInv .rsThumbs {
    background: none repeat scroll 0 0 lighten($barjeel-grey, 20%) !important;
}


.exhibition-meta-list {	
	@extend .nav;
	@extend .date;
	@extend .epsilon;

}

.exhibition-meta-list > li:first-child {
  color: $barjeel-blue;
}

.exhibition-meta-list > li:after {
		color: $barjeel-grey;
 		content: " / ";
 		padding-#{$opdir}: $quarter-spacing-unit;
 	} 	
	
.exhibition-meta-list > li:last-child:after {
 		display: none;
 	} 


.artist-list {
	@include column-count(3);	
	padding-bottom: $base-spacing-unit;

    @include respond-to(mobile) { 
    @include column-count(2); 
    }
}

.related-posts {
  @include gs-span(da, 5, 5, (2, 5));

  @include respond-to(mobile) { 
    @include gs-span(m, all);
     clear:both;
     padding-top: $base-spacing-unit;
     text-align: center;
    }
 
}

.related-list {
	padding-bottom: $base-spacing-unit;
}

.related-artwork {
  clear: both;
  overflow: hidden;
}