/*------------------------------------*\
    $Footer
\*------------------------------------*/

footer[role="contentinfo"] {
		width: 100%;
		@extend .cf;
		/* Fallback for web browsers that don't support RGBa */
		background: lighten($barjeel-grey, 25%);
		/* RGBa with 0.6 opacity */
		background: rgba(138, 207, 230, 0.5);
		/* For IE 5.5 - 7*/
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#508ACFE6, endColorstr=#508ACFE6);
		/* For IE 8*/
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#508ACFE6, endColorstr=#508ACFE6)";
}

.footerwrapper {
  margin: 0 auto;
	width: 90%;
	float: none;
}

.footer {
  @include gs-span(da, all);
  margin-top: $base-spacing-unit;
}

.twitter-tweet  {
	border-left: none;
	margin: 10px 0px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
	@extend .small;
	padding-bottom: $half-spacing-unit;
	color: lighten($barjeel-text-grey, 5%);
	padding-#{$opdir}: $half-spacing-unit;
	word-wrap:break-word;
	background: white;

}

.twitter-tweet p {
	@extend .zeta;
	padding-top: $half-spacing-unit;
	padding-bottom: $half-spacing-unit;
}

#menu-footer-menu {
	@extend .nav;
	@extend .nav--stacked;
	@extend .bold;
	@extend .uppercase;
	padding-top: $half-spacing-unit;
}

#text-5 {
	padding-top: $base-spacing-unit;
	@extend .micro;
	word-wrap: break-word;

	@include respond-to(mobile) {
      padding-top: 0;
  }
}

#text-8 {
	padding-top: $base-spacing-unit;
}

#nav_menu-2	{
	padding-top: $base-spacing-unit;
}

.address-footer {
	@include respond-to(mobile) {
      float: $opdir;
    }
}

.copyright {
	@extend .micro;
	clear:both;
	padding-top: $base-spacing-unit;

	@include respond-to(mobile) {
      @include gs-span(m, all);
      clear: both;
      text-align: center;
    }
}

.footer-logo {
  @include gs-span(da, 1, 2);
  padding: $base-spacing-unit 0 0 0;

  @include respond-to(mobile) {
      @include gs-span(m, all);
    }
}

.twitter-wrapper {
  @include gs-span(da, 3, 5);
  padding-top: 3px;

  @include respond-to(mobile) {
  	@include gs-span(m, all);
      clear: both;
      padding-top: $base-spacing-unit;
      text-align: center;
    }

 }


.twitter-one {
  @include gs-span(da, 3, 3, (3, 5));

  	@include respond-to(mobile) {
      @include gs-span(m, all);
      clear: both;
    }

}

.twitter-two {
  @include gs-span(da, 4, 4, (3, 5));

  @include respond-to(mobile) {
      @include gs-span(m, all);
      clear: both;
    }
}

.twitter-three {
  @include gs-span(da, 5, 5, (3, 5));

  @include respond-to(mobile) {
      @include gs-span(m, all);
      clear: both;
    }
}

.hidden {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}

.social-icons {
  padding-top: $half-spacing-unit;
  padding-bottom: $half-spacing-unit*3;
  text-align: center;
}

.flexbox.flexwrap .social-icons {
    display: flex;
    justify-content: space-around;
}

.icon {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.icon span {
  opacity: 0;
  position: absolute;
  top:0;
  left:0;
  transition: opacity 0.5s;
}

.icon span:hover{
  opacity: 1;
}

.icon-12 {
  width: $base-spacing-unit/2;
  height: $base-spacing-unit/2;
}

.icon-12 span {
  width: $base-spacing-unit/2;
  height: $base-spacing-unit/2;
}

.icon-24 {
  width: $base-spacing-unit;
  height: $base-spacing-unit;
}

.icon-24 span {
  width: $base-spacing-unit;
  height: $base-spacing-unit;
}

.icon-48 {
  width: $base-spacing-unit*2;
  height: $base-spacing-unit*2;
}

.icon-48 span {
  width: $base-spacing-unit*2;
  height: $base-spacing-unit*2;
}

.icon-72 {
  width: $base-spacing-unit*3;
  height: $base-spacing-unit*3;
}

.icon-72 span {
  width: $base-spacing-unit*3;
  height: $base-spacing-unit*3;
}

.icon-96 {
  width: $base-spacing-unit*4;
  height: $base-spacing-unit*4;
}

.icon-96 span {
  width: $base-spacing-unit*4;
  height: $base-spacing-unit*4;
}

.facebook {
  background-image: url('../images/svg/facebook-100.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.no-svg .facebook {
  background-image: url('../images/png/facebook-100.png');
  background-repeat: no-repeat;
}

.facebook span {
  background-image: url('../images/svg/facebook-100-hover.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.no-svg .facebook span {
  background-image: url('../images/png/facebook-100-hover.png');
  background-repeat: no-repeat;
}

.google-cultural {
  background-image: url('../images/svg/cultural_institute-100.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.no-svg .google-cultural {
  background-image: url('../images/png/cultural_institute-100.png');
  background-repeat: no-repeat;
}

.google-cultural span {
  background-image: url('../images/svg/cultural_institute-100-hover.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.no-svg .google-cultural span {
  background-image: url('../images/png/cultural_institute-100-hover.png');
  background-repeat: no-repeat;
}

.twitter {
  background-image: url('../images/svg/twitter-100.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.no-svg .twitter {
  background-image: url('../images/png/twitter-100.png');
  background-repeat: no-repeat;
}

.twitter span {
  background-image: url('../images/svg/twitter-100-hover.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.no-svg .twitter span {
  background-image: url('../images/png/twitter-100-hover.png');
  background-repeat: no-repeat;
}

.reader {
  background-image: url('../images/svg/reader-100.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.no-svg .reader {
  background-image: url('../images/png/reader-100.png');
  background-repeat: no-repeat;
}

.reader span {
  background-image: url('../images/svg/reader-100-hover.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.no-svg .reader span {
  background-image: url('../images/png/reader-100-hover.png');
  background-repeat: no-repeat;
}

.google-plus {
  background-image: url('../images/svg/google_plus-100.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.no-svg .google-plus {
  background-image: url('../images/png/google_plus-100.png');
  background-repeat: no-repeat;
}

.google-plus span {
  background-image: url('../images/svg/google_plus-100-hover.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.no-svg .google-plus span {
  background-image: url('../images/png/google_plus-100-hover.png');
  background-repeat: no-repeat;
}

.instagram {
  background-image: url('../images/svg/instagram-100.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.no-svg .instagram {
  background-image: url('../images/png/instagram-100.png');
  background-repeat: no-repeat;
}

.instagram span {
  background-image: url('../images/svg/instagram-100-hover.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.no-svg .instagram span {
  background-image: url('../images/png/instagram-100-hover.png');
  background-repeat: no-repeat;
}

.press-1 {
  background-image: url('../images/svg/press-square-100.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.no-svg .press-1 {
  background-image: url('../images/png/press-square-100.png');
  background-repeat: no-repeat;
}

.press-1 span {
  background-image: url('../images/svg/press-square-100-hover.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.no-svg .press-1 span {
  background-image: url('../images/png/press-square-100-hover.png');
  background-repeat: no-repeat;
}

.press-2 {
  background-image: url('../images/svg/press-square-2-100.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.no-svg .press-2 {
  background-image: url('../images/png/press-square-2-100.png');
  background-repeat: no-repeat;
}

.press-2 span {
  background-image: url('../images/svg/press-square-2-100-hover.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.no-svg .press-2 span {
  background-image: url('../images/png/press-square-2-100-hover.png');
  background-repeat: no-repeat;
}

.press-3 {
  background-image: url('../images/svg/press-square-3-100.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.no-svg .press-3 {
  background-image: url('../images/png/press-square-3-100.png');
  background-repeat: no-repeat;
}

.press-3 span {
  background-image: url('../images/svg/press-square-3-100-hover.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.no-svg .press-3 span {
  background-image: url('../images/png/press-square-3-100-hover.png');
  background-repeat: no-repeat;
}


#s {
  border: 1px solid $barjeel-grey;
  @include border-radius(4px);
  color: $barjeel-text-grey;
  font-size: $h5-size;
  width: calc(100% - 48px);
  float: left;
  height: $half-spacing-unit*3;
}

#search-3 {
  padding-top: $base-spacing-unit;

  @include respond-to(mobile) {
       padding-left: $base-spacing-unit;
       padding-right: $base-spacing-unit;
     }
}

#searchform input:focus {
    border: 2px solid $barjeel-icon-dark-grey;
}

#searchform input[type="submit"] {
    background-image: url(../images/svg/search-36.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    text-indent: -5000px;
    cursor: pointer;
    height: 36px;
    width: 36px;
}

#searchform input[type="submit"]:hover {
  background-image: url(../images/svg/search-36-hover.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  text-indent: -5000px;
  cursor: pointer;
  height: 36px;
  width: 36px;
}
