/*------------------------------------*\
    $Header
\*------------------------------------*/



footer[role="contentinfo"] {
		width: 100%;
		@extend .cf;
		/* Fallback for web browsers that don't support RGBa */
		background: lighten($barjeel-grey, 25%);
		/* RGBa with 0.6 opacity */
		background: rgba(138, 207, 230, 0.5);
		/* For IE 5.5 - 7*/
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#508ACFE6, endColorstr=#508ACFE6);
		/* For IE 8*/
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#508ACFE6, endColorstr=#508ACFE6)";
}


.footerwrapper {
  margin: 0 auto;
	width: 90%;
	float: none;
}

.footer {
  @include gs-span(da, all);
}

.twitter-tweet  {
	border-left: none;
	margin: 10px 0px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
	@extend .small;
	padding-bottom: $half-spacing-unit;
	color: lighten($barjeel-text-grey, 5%);
	padding-#{$opdir}: $half-spacing-unit;
	word-wrap:break-word;
	background: white;

}

.twitter-tweet p {
	@extend .zeta;
	padding-top: $half-spacing-unit;
	padding-bottom: $half-spacing-unit;

}

#menu-footer-menu {
	@extend .nav;
	@extend .nav--stacked;
	@extend .bold;
	@extend .uppercase;
	padding-top: $half-spacing-unit;

}

#text-5 {
	padding-top: $base-spacing-unit;
	@extend .micro;
	word-wrap: break-word;

	@include respond-to(mobile) {
      padding-top: 0;
  }
}

#text-8 {
	padding-top: $base-spacing-unit;
}

#nav_menu-2	{
	padding-top: $base-spacing-unit;
}

.address-footer {
	@include respond-to(mobile) {
      float: $opdir;
    }
}

.copyright {
	@extend .micro;
	clear:both;
	padding-top: $base-spacing-unit;

	@include respond-to(mobile) {
      @include gs-span(m, all);
      clear: both;
      text-align: center;
    }
}

.footer-logo {
  @include gs-span(da, 1, 2);
  padding: $base-spacing-unit 0 0 0;

  @include respond-to(mobile) {
      @include gs-span(m, all);
    }
}

.twitter-wrapper {
  @include gs-span(da, 3, 5);
  padding-top: 35px;

  @include respond-to(mobile) {
  	@include gs-span(m, all);
      clear: both;
      padding-top: $base-spacing-unit;
      text-align: center;
    }

 }


.twitter-one {
  @include gs-span(da, 3, 3, (3, 5));

  	@include respond-to(mobile) {
      @include gs-span(m, all);
      clear: both;
    }

}

.twitter-two {
  @include gs-span(da, 4, 4, (3, 5));

  @include respond-to(mobile) {
      @include gs-span(m, all);
      clear: both;
    }
}

.twitter-three {
  @include gs-span(da, 5, 5, (3, 5));

  @include respond-to(mobile) {
      @include gs-span(m, all);
      clear: both;
    }
}

.social-icons {
  padding-top: $half-spacing-unit;
  padding-bottom: $base-spacing-unit;
}

.facebook-icon-2a, .google-cultural-icon-2a, .google-plus-icon-2a, .instagram-icon-2a, .reader-icon-2a,
.twitter-icon-2a, {
  display: inline-block;
  background: url('../images/social-icon-sprite.png') no-repeat;
  width: 62px;
  height: 62px;
  margin-right: $base-spacing-unit;

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 240dpi) {
  .sprite {
      background-image: url(../images/social-icon-sprite@2x.png);
    }
  }
}



.facebook-icon-2a {
  background-position: -5px -5px;
}

.facebook-icon-2a:hover {
  background-position: -77px -5px;
}

.google-cultural-icon-2a {
  background-position: -149px -5px;
}

.google-cultural-icon-2a:hover {
  background-position: -5px -77px;
}

.google-plus-icon-2a {
  background-position: -149px -77px;
}

.google-plus-icon-2a:hover {
  background-position: -77px -77px;
 }

.instagram-icon-2a {
  background-position: -5px -149px;
}

.instagram-icon-2a:hover {
  background-position: -77px -149px;
}

.reader-icon-2a {
  background-position: -149px -149px;
}

.reader-icon-2a:hover {
  background-position: -221px -5px;
}

.twitter-icon-2a {
   background-position: -221px -77px;
}

.twitter-icon-2a:hover {
  background-position: -221px -149px;
}


#s {
  border: 1px solid $barjeel-grey;
    @include border-radius(4px);
    color: $barjeel-text-grey;
    padding: 4px;
    font-size: 16px;
    width: calc(100% - 36px);
    float: left;
    height: 36px;

}

#search-3 {
  padding-top: $base-spacing-unit;

  @include respond-to(mobile) {
       padding-left: $base-spacing-unit;
       padding-right: $base-spacing-unit;
     }
}

#searchform input:focus {
    border: 2px solid $barjeel-red;
}

#searchform input[type="submit"] {
    background: $barjeel-grey url(../images/search-icon.png) no-repeat top left;
    border-radius: 4px;
    border-style: solid;
    border-width: 0 0 0 1px;
    color: #fff;
    cursor: pointer;
    height: 36px;
    width: 36px;
    text-indent: -5000px;
    @include transition(background, 0.5s, ease-out);
}

#searchform input[type="submit"]:hover {
  background: $barjeel-red url(../images/search-icon.png) no-repeat top left;
}
