/*------------------------------------*\
    $Header
\*------------------------------------*/

header[role="banner"] {
  @include gs-span(da, 1);
  width: 144px !important;

  @include respond-to(mobile) { 
    @include gs-span(m, all);
    width: 100% !important;
    }

}

.logo-wrapper {
     padding: $base-spacing-unit 0 ($base-spacing-unit*3) 0;

     @include respond-to(mobile) { 
        @include gs-span(m, 1, 1);
        padding-bottom: $base-spacing-unit;
        padding-top: $half-spacing-unit;
    }
}

.logo {
    width: 121px;
    height: 211px;
    background: url("../images/logo.png") top left no-repeat;


	@include respond-to(mobile) { 
    	@include gs-span(m, 1, 2);
    	width: 44px;
        height: 53px;
        background: url("../images/logomob4.png") top left no-repeat;    
    }

}

#menu-main > li {
	@include respond-to(mobile) { 
    	 margin-bottom: $quarter-spacing-unit;
    }

}



.widget-title {
	text-transform: uppercase;
	color: $barjeel-grey;
	@extend .epsilon;
	@extend .bold;
	margin-bottom: $quarter-spacing-unit;

}

.search-terms {
	color: $barjeel-red;

}




