/*------------------------------------*\
    $Homepage
\*------------------------------------*/

.main-image {
  @include gs-span(da, 2, 4, (2, 5));

  @include respond-to(tablet) { 
    @include gs-span(da, 2, 5, (2, 5));
    
    }

    @include respond-to(mobile) { 
      @include gs-span(m, all);
    }
  
}

.headline {
  @include gs-span(da, 5, 5, (2, 5));
   text-align: $opdir;

   @include respond-to(tablet) { 
    @include gs-span(da, 2, 5, (2, 5));
    clear:both;
    padding-top: $base-spacing-unit;
    text-align: center;
    @include gs-pad(da, padinfull);
    }

   @include respond-to(mobile) { 
      @include gs-span(m, all);
      padding-top: $base-spacing-unit;
      clear:both;
      text-align: center;
      @include gs-pad(m, padinfull);

    } 

}

.main-title { 
  line-height: $big-line-height;
  margin-bottom: $half-spacing-unit;
  text-transform: uppercase;

  @include respond-to(bigscreen) { 
    margin-top: $base-spacing-unit;
    }

}

.date {
  color: $barjeel-red;
  line-height: $less-line-height;
  margin-bottom: $half-spacing-unit;
  text-transform: uppercase;
}

.e-date {
  color: $barjeel-blue;
  margin-bottom: $quarter-spacing-unit;

}

.widget_featured_post_widget { 
	@extend .cf
}	


.vignette-large {
    border-radius: 50%;
    width: 100%;
    height: auto;
 
    @include transition-property(box-shadow);
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-in-out);  

      max-width: 100%;
    /* Part 1: Set a maxium relative to the parent */
  
    width: auto\9;
    /* IE7-8 need help adjusting responsive images */
  
    height: auto;
    /* Part 2: Scale the height according to the width, otherwise you get stretching */
  
}

.vignette-large:hover { 
  @include box-shadow (rgba($barjeel-blue, $barjeel-hover-opacity) 0 0 0px $base-spacing-unit inset);
} 


 img.attachment-homepage-thumb {
  z-index: -1;
  position: relative;
} 

/* For the video homepage */

.videoWrapper {
 position: relative;
 padding-bottom: 56.25%; /* 16:9 */
 height: 0;
 margin-bottom: $base-spacing-unit;

}

.videoWrapper iframe {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 
}

.article-row {
  padding-top: $base-spacing-unit; 

   @include respond-to(mobile) { 
      padding-top: 0; 
    } 
}

.article-list { 
  line-height: $mid-line-height !important;
  margin-bottom: $quarter-spacing-unit;
  text-transform: uppercase;
  padding-top: $half-spacing-unit; 
  clear: both;
}

.article-one {		
  color: $barjeel-red;
  text-align: center;
  padding-top: $base-spacing-unit; 
}

.article-two {
  color: $barjeel-blue;
  text-align: center;
  padding-top: $base-spacing-unit; 
}

.article-three {
  color: $barjeel-red;
  text-align: center;
  padding-top: $base-spacing-unit; 
}


.article-four {
  color: $barjeel-blue;
  text-align: center;
  padding-top: $base-spacing-unit; 
}


.article-one .square {
	background-color: $barjeel-red;

}

.article-two .square {
	background-color: $barjeel-blue;

}

.article-three .square {
	background-color: $barjeel-red;

}

.article-four .square {
	background-color: $barjeel-blue;

}

.article-one .e-date {
  color: $barjeel-red;

}

.article-three .e-date {
  color: $barjeel-red;

}