/*------------------------------------*\
    $Homepage
\*------------------------------------*/

.main-image {
  @include gs-span(da, 2, 4, (2, 5));
}

.headline {
  @include gs-span(da, 5, 5, (2, 5));
   @include gs-float(da, $opdir);
   text-align: $opdir;
}

.headline h1 { 
  line-height: $mid-line-height;
  margin-bottom: $half-spacing-unit;
  text-transform: uppercase;
}

.date {
  color: $barjeel-red;
  line-height: $less-line-height;
  margin-bottom: $half-spacing-unit;
  text-transform: uppercase;
}


.widget_featured_post_widget { 
	@extend .cf
}	

.article-row {
  padding-top: 2 * $base-spacing-unit;  
  line-height: $less-line-height;
  text-transform: uppercase;
}

.article-row h1 { 
  line-height: $mid-line-height;
  margin-bottom: $quarter-spacing-unit;
  
}

.article-row p { 
  line-height: $less-line-height;
  margin-bottom: $quarter-spacing-unit;
}

.article-one {		
  @include gs-span(da, 2, 2, (2, 5));
  color: $barjeel-red;
  text-align: center;
}

.article-two {
  @include gs-span(da, 3, 3, (2, 5));
  color: $barjeel-blue;
  text-align: center;
}

.article-three {
  @include gs-span(da, 4, 4, (2, 5));
  color: $barjeel-red;
  text-align: center;
}

.article-four {
  @include gs-span(da, 5, 5, (2, 5));
  color: $barjeel-blue;
  text-align: center;
}


.article-one .square {
	background-color: $barjeel-red;

}

.article-two .square {
	background-color: $barjeel-blue;

}

.article-three .square {
	background-color: $barjeel-red;

}

.article-four .square {
	background-color: $barjeel-blue;

}