/*------------------------------------*\
    $Links
\*------------------------------------*/

	
	/*  Normal link */
	a {color: $barjeel-grey; text-decoration: none; @include transition(color, 0.5s, ease-out);}
	
	/*  Hover over */	
	a:hover, a:focus {color: $barjeel-red !important; text-decoration: none;} 
	
	/*  Link that's been clicked on */
	a:visited {color: $barjeel-grey;}
	
	/*  When the link is being clicked	 */
	a:active { color: #005580;}
	
	p a, p a:visited { line-height: inherit; }
	
	/*	 
	   No text-shadow: twitter.com/miketaylr/status/12228805301 
	   Also: highlight colour for selection */
	::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
	::selection { background:#FF5E99; color:#fff; text-shadow: none; } 
	
	/*  j.mp/webkit-tap-highlight-color */
	a:link { -webkit-tap-highlight-color: #FF5E99; } 
	
	/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
	a:hover, a:active { outline: none; }
