/*------------------------------------*\
    $Links
\*------------------------------------*/

	
	/*  Normal link */
	a {color: $barjeel-grey; text-decoration: none; @include transition(color, 0.5s, ease-out);}
	
	/*  Hover over */	
	a:hover, a:focus {color: $barjeel-red !important; text-decoration: none;} 
	
	/*  Link that's been clicked on */
	a:visited {}
	
	/*  When the link is being clicked	 */
	a:active { color: $barjeel-red;}
	
	p a { color: $barjeel-blue; text-decoration: none; @include transition(color, 0.5s, ease-out); }

	p a:hover, p a:focus {color: $barjeel-link-blue ; text-decoration: none;} 
	
	/*	 
	   No text-shadow: twitter.com/miketaylr/status/12228805301 
	   Also: highlight colour for selection */
	::-moz-selection{ background: $barjeel-red; color:#fff; text-shadow: none; }
	::selection { background:$barjeel-red; color:#fff; text-shadow: none; } 
	
	/*  j.mp/webkit-tap-highlight-color 
	a:link { -webkit-tap-highlight-color: $barjeel-red; } */
	
	/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
	a:hover, a:active { outline: none; }



	/*  Exhibition link */
	.meta-link a, .entry-meta a {color: $barjeel-blue; text-decoration: none; @include transition(color, 0.5s, ease-out);}

	h2.entry-title a {color: $barjeel-blue; text-decoration: none; @include transition(color, 0.5s, ease-out);}

	.catalogue-caption a {color: $barjeel-blue; text-decoration: none; @include transition(color, 0.5s, ease-out);}

	.left-aside-one h3 a {color: $barjeel-blue; text-decoration: none; @include transition(color, 0.5s, ease-out);}

	.page-intro a {color: $barjeel-blue; text-decoration: none; @include transition(color, 0.5s, ease-out);}

	.top-menu li a {color: $barjeel-blue; text-decoration: none; @include transition(color, 0.5s, ease-out);}

	.artist-list li a {color: $barjeel-blue; text-decoration: none; @include transition(color, 0.5s, ease-out);}

	.twitter-tweet a {color: $barjeel-blue; text-decoration: none; @include transition(color, 0.5s, ease-out);}

	.royalCaptionItem a {color: $barjeel-blue; text-decoration: none; @include transition(color, 0.5s, ease-out);}

	nav.next-previous ul li a {color: $barjeel-blue; text-decoration: none; @include transition(color, 0.5s, ease-out);}

	.random a {color: white !important; text-decoration: none; @include transition(color, 0.5s, ease-out); padding-left: $quarter-spacing-unit; padding-right: $quarter-spacing-unit;}

	.random a:hover {color: $barjeel-blue !important; text-decoration: none; background: white;} 
