/*------------------------------------*\
    $Lists
\*------------------------------------*/
	
ul,ol {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: $half-spacing-unit;
}

ul, ol { 
	margin-bottom: $base-spacing-unit;
}

article ul { 
	list-style: disc; 
}

article ol { 
	list-style: decimal; 
}

li {
    line-height: 18px;
    margin-bottom: $half-spacing-unit;
}

article li { 
	line-height: 21px; 
	margin-bottom: $quarter-spacing-unit;
}
	
	/*  Definition lists */
	
	dl {margin-bottom: 20px;}
	dt,dd {line-height: 20px;}
	dt {font-weight: bold;}
	dd {margin-left: 10px;}
	.dl-horizontal {*zoom: 1;}
	.dl-horizontal:before,
	.dl-horizontal:after {
  		display: table;
	  content: "";
	  line-height: 0;
	}
	.dl-horizontal:after {clear: both;}
	.dl-horizontal dt {
	  float: left;
	  width: 160px;
	  clear: left;
	  text-align: right;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  white-space: nowrap;
	}
	.dl-horizontal dd {margin-left: 180px;}
