/*------------------------------------*\
    $Misc
\*------------------------------------*/

.remove-bottom { margin-bottom: 0 !important; }
.half-bottom { margin-bottom: 10px !important; }
.add-bottom { margin-bottom: 20px !important; }

/* Text meant only for screen readers */
.assistive-text {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.cb {
  clear: both;
}

.center {text-align:center; }

.ta-left {
  text-align: left !important;
}

.white {background: white;}

.white-text {color: white;}

.grey {background: $barjeel-grey;}

.gray {color: $barjeel-grey;}

.red {color: $barjeel-red;}

.red-back {background: $barjeel-red;}

.blue {color: $barjeel-blue;}

.blue-back {background: $barjeel-blue;}

.outline {outline: 1px solid #99999a; }

.inline {display: inline; }

.inline-icon {
  margin-right: $quarter-spacing-unit;
  vertical-align: bottom;
  margin-bottom: 2px;
}

.square {
   width: 15px;
   height: 15px;
	 margin-left: auto;
   margin-right: auto;
	 margin-bottom: $half-spacing-unit;
}

.word-wrap {
	word-wrap: break-word;
}

.padding-top {
	padding-top: $half-spacing-unit;
}

.padding-top-quarter {
	padding-top: $quarter-spacing-unit;
}

.padding-top-most {
	padding-top: $base-spacing-unit;
}

.padding-bottom {
	padding-bottom: $base-spacing-unit;
}

.padding-bottom-half {
  padding-bottom: $half-spacing-unit;
}

.padding-bottom-quarter {
  padding-bottom: $quarter-spacing-unit;
}

.pad-1 {
  padding: $base-spacing-unit;
}

.no-padding-below {
  padding-bottom: 0;
}

.no-margin-below {
	margin-bottom: 0;
}

.margin-below {
	margin-bottom: $quarter-spacing-unit;
}

.margin-below-half {
	margin-bottom: $half-spacing-unit;
}

.margin-top-half {
  margin-top: $half-spacing-unit;
}

.pad-in {
	@include gs-pad (da, padinfull);
}

.inline-block {
  display: inline-block;
}

.border-side {
	border-#{$opdir}: 1px solid $barjeel-blue;
	padding-#{$dir}: 0;
}

.column-one {
  @include gs-span(da, 2, 2, (2, 5));
  clear: both;

  @include respond-to(tablet) {
  	@include gs-span(da, 2, 3, (2, 5));
  }

 @include respond-to(mobile) {
    @include gs-span(m, 1, 2);
    clear:both;
    padding-top: $half-spacing-unit;
  }
}

.column-two {
@include gs-span(da, 3, 3, (2, 5));

@include respond-to(tablet) {
    @include gs-span(da, 4, 5, (2, 5));

  }

 @include respond-to(mobile) {
    @include gs-span(m, 1, 2);
  clear:both;
  padding-top: $half-spacing-unit;
  }

}

.column-three {
@include gs-span(da, 4, 4, (2, 5));

@include respond-to(tablet) {
  @include gs-span(da, 2, 3, (2, 5));
  clear:both;
  padding-top: $base-spacing-unit;
  }

  @include respond-to(mobile) {
    @include gs-span(m, 1, 2);
  clear:both;
  padding-top: $half-spacing-unit;

  }

}

.column-four {
@include gs-span(da, 5, 5, (2, 5));

@include respond-to(tablet) {
  @include gs-span(da, 4, 5, (2, 5));
  padding-top: $base-spacing-unit;
}

@include respond-to(mobile) {
    @include gs-span(m, 1, 2);
  clear:both;
  padding-top: $half-spacing-unit;
  }
}

.column-one-two {
	 @include gs-span(da, 2, 3, (2, 5));
}

.column-two-three {
	 @include gs-span(da, 3, 4, (2, 5));
}

.column-three-four {
	 @include gs-span(da, 4, 5, (2, 5));
}

.column-two-three-four {
	 @include gs-span(da, 2, 4, (2, 5));
}

