/*------------------------------------*\
    $Misc
\*------------------------------------*/

	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }
		
	/* Text meant only for screen readers */
	.assistive-text {
		clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
		clip: rect(1px, 1px, 1px, 1px);
		position: absolute !important;
	}	
	
	.center {text-align:center; }

	.white {background: white;}

	.grey {background: $barjeel-grey;}

	.gray {color: $barjeel-grey;}

	.red {color: $barjeel-red;}

	.blue {color: $barjeel-blue;}

	.outline {outline: 1px solid #99999a; }

	.square {
	width: 15px;
	height: 15px;
  	margin-left: 45%;
  	margin-bottom: $half-spacing-unit;
 }

	.margin-below {
		margin-bottom: $quarter-spacing-unit;
	}

	.pad-in {
		@include gs-pad (da, padinfull);
	}