/*------------------------------------*\
    $News-category
\*------------------------------------*/
	
	.news-list {
		@include gs-span(da, 2, 4, (2, 5));
		clear: both;

	}

	.news-item {
		margin-bottom: $base-spacing-unit;
		@include gs-span(da, 2, 4, (2, 4));
		@extend .white;
		clear: both;

	}


	.news-image {
		@include gs-span(da, 2, 2, (2, 4));
		
	}

	.news-text {
		@include gs-span(da, 3, 4, (2, 4));		
		@extend .cf;
		padding-top: $half-spacing-unit;
	}


	.meta-news {
		@extend .zeta;
	}

	.meta-news > li:after, li.cat-item:after  {
 		content: "/";
 		color: $barjeel-grey;
 		padding-left: $quarter-spacing-unit;
 		padding-right: $quarter-spacing-unit;
 	} 

	.meta-news > li:last-child:after, li.cat-item:last-child:after {
 		content: "";
 	} 

 	li.current-cat a {
 	 	color: $barjeel-red;

 	 }

 	 .search-title {
 	 	@extend .gamma;
 	 	@extend .bold;
 	 	@extend .margin-below;
 	 	line-height: $big-line-height;
 	 }

 	 .permalink {
		word-wrap: break-word; 
	}	