/*------------------------------------*\
    $News-single
\*------------------------------------*/
	
.news-main {
  @include gs-span(da, 2, 4, (2, 5));
  clear:both;

}

.news-entry {
  	@include gs-pad (da, padinfull);
  	padding-bottom: $base-spacing-unit;	

}


.related-news {
  clear:both;
  padding-top: $base-spacing-unit;

}     

.related-posts-news {
  @include gs-span(da, 2, 4, (2, 5));

}			
 