/*------------------------------------*\
    $Pagination
\*------------------------------------*/


.pagination {
		@include gs-span(da, 2, 5, (2, 5));
		text-align: justify;
		@extend .light;
		@extend .micro;
		text-transform: uppercase;
		margin-top: $base-spacing-unit;
	}	


.pagination .page-numbers {
	padding: $base-spacing-unit;

}
.pagination .current {
	color: $barjeel-red;
}