/*------------------------------------*\
    $Pagination
\*------------------------------------*/

.pagination {
	padding:7px 10px 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.pagination .page-numbers {
	padding:3px 6px;

}
.pagination .current {
	color:#000;
}