/*------------------------------------*\
    $Page
\*------------------------------------*/

	.page-intro {
		text-align: right;
		padding-bottom: $base-spacing-unit;
		padding-top: $half-spacing-unit;	
	}	


	.country-list > li.cat-item:after, .children > li.cat-item:after  {
 		content: "";

 	}	

	.page-content {
		@extend .white;
		@include gs-span(da, 2, 5, (2, 5));
		padding-bottom: $base-spacing-unit;		
	}

	.page-image {
		@include gs-span(da, 2, 3, (2, 5));
		
	}

	.page-text {
		@include gs-span(da, 4, 5, (2, 5));
		@include gs-pad (da, padinfull);
		@include gs-pad (da, padfull);
		@extend .cf;
	}

	.entry-content {
		padding-top: $base-spacing-unit;
	}


	.left-aside-one {
		@include gs-span(da, 2, 2, (2, 3));
		@include gs-pad (da, padinfull);
		padding-top: $base-spacing-unit;
		padding-bottom: $base-spacing-unit;
		color: $barjeel-text-grey;

	}

	.left-aside-two {
		@include gs-span(da, 3, 3, (2, 3));
		@include gs-pad (da, padinfull);
		padding-top: $base-spacing-unit;
		padding-bottom: $base-spacing-unit;
		color: $barjeel-text-grey;

	}

	.colour-title {
		@extend .delta;
		@extend .bold;
		@extend .white-text;
		padding-top: $quarter-spacing-unit;
		padding-bottom: $quarter-spacing-unit;
		padding-left: $half-spacing-unit;
		padding-right: $half-spacing-unit;
	}

	.visit-table  { 
   		margin-bottom: $base-spacing-unit*2;
	}

	.visit-table th, td {
   		padding:$quarter-spacing-unit;
 
	}

	.visit-guide {
		padding-top: $base-spacing-unit;
		padding-bottom: $half-spacing-unit;
		border-top: 1px solid $barjeel-blue;
	}
