/*------------------------------------*\
    $Select-box
\*------------------------------------*/
	
	.filter {
		color: white;
		font-family: $brand-face;
		height: $base-spacing-unit;

	}

	.filter-title {
		color: $barjeel-blue;
		padding-top: 3px;
		padding-bottom: 3px;
		padding-#{$dir}: $half-spacing-unit;
		padding-#{$opdir}: $half-spacing-unit;
	}

	.sort-by {
		margin-#{$dir}: -5px;
	}

	.filter-by {
		margin-#{$dir}: -5px;
	}

	.customSelect {
		color: $barjeel-blue; 
		font-family: $brand-face;	
		height: $base-spacing-unit;	
	}

	.customSelect.changed {
	/* You can use this if you want a different style after user has made a selection */
	}

	.customSelect.customSelectFocus {
	/* You can use this if you want a different style after user has made a selection */
	}
	.customSelect.customSelectOpen {

	/* You can use this if you want a different style after user has made a selection */
	}

	/* We can style the inner box too */
	.customSelectInner {
		background: url(../images/arrow.png) no-repeat $opdir $barjeel-lightblue; 
		padding-#{$dir}: $half-spacing-unit;
	}








