/*------------------------------------*\
    $Select-box
\*------------------------------------*/
	
	.filter {
		background: $barjeel-blue;
		color: white;
		font-family: $brand-face;
		height: $base-spacing-unit;

	}

	.dropdown {
		background: url(../images/arrow.png) no-repeat right $barjeel-lightblue; 
		border: 0;
		border-radius: none;
		color: $barjeel-blue; 
		font-family: $brand-face;
		float:right;	
		height: $base-spacing-unit;
		padding: 2px 0 0 4px;	
		-webkit-appearance: none;
    	-webkit-border-radius: 0px;
	}

