.icon-cultural_institute-100-red { background-image: url('png/cultural_institute-100-red.png'); background-repeat: no-repeat; }

.icon-cultural_institute-100 { background-image: url('png/cultural_institute-100.png'); background-repeat: no-repeat; }

.icon-facebook-100-red { background-image: url('png/facebook-100-red.png'); background-repeat: no-repeat; }

.icon-facebook-100 { background-image: url('png/facebook-100.png'); background-repeat: no-repeat; }

.icon-google plus-100 { background-image: url('png/google plus-100.png'); background-repeat: no-repeat; }

.icon-google_plus-100-red { background-image: url('png/google_plus-100-red.png'); background-repeat: no-repeat; }

.icon-google_plus-100 { background-image: url('png/google_plus-100.png'); background-repeat: no-repeat; }

.icon-google_plus-540 { background-image: url('png/google_plus-540.png'); background-repeat: no-repeat; }

.icon-instagram-100-red { background-image: url('png/instagram-100-red.png'); background-repeat: no-repeat; }

.icon-instagram-100 { background-image: url('png/instagram-100.png'); background-repeat: no-repeat; }

.icon-press-square-100 { background-image: url('png/press-square-100.png'); background-repeat: no-repeat; }

.icon-press-square-2-100 { background-image: url('png/press-square-2-100.png'); background-repeat: no-repeat; }

.icon-press-square-3-100 { background-image: url('png/press-square-3-100.png'); background-repeat: no-repeat; }

.icon-reader-100-red { background-image: url('png/reader-100-red.png'); background-repeat: no-repeat; }

.icon-reader-100 { background-image: url('png/reader-100.png'); background-repeat: no-repeat; }

.icon-twitter-100-red { background-image: url('png/twitter-100-red.png'); background-repeat: no-repeat; }

.icon-twitter-100 { background-image: url('png/twitter-100.png'); background-repeat: no-repeat; }

